@import "system-font.css";
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "system-ui";
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
}

#wireframe {
	background-color: #f5f5f5;
	padding: 0 calc(1vw + 16px);
	min-height: 100vh
}

#wireframe-content {
	display: flex;
	align-content: center;
	justify-content: space-between
}

.left,
.right {
	flex: 1;
	padding: 0 .5rem
}

#cdn-input,
#form-input,
#output {
	height: 300px;
	width: 100%
}

#preview-pane {
	width: 100%;
	height: 720px;
	border: 1px solid
}

.text-center {
	text-align: center
}

.page-title {
	margin: 0;
	padding: 16px 0
}

.button,
button {
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	padding: .5rem 1rem;
	border: none;
	display: block;
	background: #14aaf5;
	margin: .5rem auto;
	cursor: pointer;
	outline: 0;
	font-size: 1rem;
	width: 210px;
	max-width: 210px;
	line-height: 1.5;
	text-align: center
}

input[type=file] {
	height: 0;
	overflow: hidden;
	width: 0
}

input[type=file]+label {
	background: #14aaf5;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	margin: .5rem 0;
	outline: 0;
	padding: .5rem 1rem;
	position: relative;
	width: 210px;
	max-width: 210px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center
}

button:hover,
input[type=file]+label:hover {
	background: #099be4
}

.textarea,
textarea {
	padding: 8px;
	font-size: 16px
}

.actions {
	display: flex;
	justify-content: space-between
}

.option-item {
	cursor: pointer
}

.option-item input {
	margin-right: .5rem
}

.modal {
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
	background-color: rgba(0, 0, 0, .4)
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	position: relative
}

.close {
	color: #aaa;
	float: right;
	font-size: 2rem;
	font-weight: 700;
	position: absolute;
	right: 1rem;
	top: 0
}

.close:focus,
.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer
}

.textarea-wrapper {
	position: relative
}

.copy {
	color: #aaa;
	font-weight: 700;
	position: absolute;
	right: 1rem;
	top: .5rem;
	cursor: pointer
}

.copy:hover {
	color: #333
}

.options .option {
	margin-right: .25rem;
	cursor: pointer
}

.options .option-label {
	cursor: pointer
}

button:disabled {
	color: rgba(255, 255, 255, .7)!important;
	background-color: rgba(20, 170, 245, .3)!important;
	border-color: rgba(20, 170, 245, .3)!important;
	cursor: unset
}

.detail {
	display: flex;
	align-items: center;
	margin-bottom: .5rem;
}

.filename {
	margin-right: .5rem;
}

.clear {
	margin-bottom: .2rem;
	font-weight: 500;
	cursor: pointer;
}

/* DROP AND DROP CSS */
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
}
#drop-area.highlight {
    border-color: #14aaf5;
}
#fileElem {
display: none;
}

/* Dragabble */
ul#css-files {
	margin: 0;
	padding: 0;
}
  
li.css-file-name {
	margin: 5px 0;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	background: #14aaf5;
	/* background: -webkit-linear-gradient(to right, #14aaf5, #099be4);
	background: linear-gradient(to right, #14aaf5, #099be4); */
	color: #fff;
	list-style: none;
}
  
li.css-file-name.drag-sort-active {
	background: transparent;
	color: transparent;
	border: 1px solid #4ca1af;
}
.drag-sort-enable li.css-file-name{
	cursor: pointer;
}